In [1]:
import numpy as np # data in a vectorized manner manipulation
import pandas as pd # data analsysis
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
import json # JSON files manipulation
import requests # HTTP library
from bs4 import BeautifulSoup # scraping library

from sklearn.cluster import KMeans # clustering algorithm

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# !conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

In [3]:
class Scrapy:
       
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(self.parse_html_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")]  
    
        def parse_html_table(self, table):
            n_columns = 0
            n_rows=0
            column_names = []
            for row in table.find_all('tr'):
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        n_columns = len(td_tags)
                        
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text())
    
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
    
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
                    
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            
            return df

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
hp = Scrapy()
table = hp.parse_url(url)[0] 
table.head(10)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n
7      M6A        North York    Lawrence Manor\n
8      M7A      Queen's Park      Not assigned\n
9      M8A      Not assigned      Not assigned\n

In [5]:
table = table[table.Borough != 'Not assigned']
table.head(10)

   Postcode           Borough     Neighbourhood\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M5A  Downtown Toronto       Regent Park\n
6       M6A        North York  Lawrence Heights\n
7       M6A        North York    Lawrence Manor\n
8       M7A      Queen's Park      Not assigned\n
10      M9A         Etobicoke  Islington Avenue\n
11      M1B       Scarborough             Rouge\n
12      M1B       Scarborough           Malvern\n

In [6]:
print(list(table))
table = table.replace('\n',' ', regex=True)
table.head(10)

['Postcode', 'Borough', 'Neighbourhood\n']

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [7]:
table = table[table['Neighbourhood\n'] != 'Not assigned']
table.head(10)

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [8]:
df = table.groupby(['Postcode','Borough'])['Neighbourhood\n'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df = df.sample(frac=1).reset_index(drop=True)
df.head(10)

,Postcode,Borough,Neighbourhood
0,M5B,Downtown Toronto,"Ryerson , Garden District"
1,M4S,Central Toronto,Davisville
2,M9L,North York,Humber Summit
3,M5K,Downtown Toronto,"Design Exchange , Toronto Dominion Centre"
4,M1P,Scarborough,"Dorset Park , Scarborough Town Centre , Wexfor..."
5,M6J,West Toronto,"Little Portugal , Trinity"
6,M6G,Downtown Toronto,Christie
7,M5G,Downtown Toronto,Central Bay Street
8,M7R,Mississauga,Canada Post Gateway Processing Centre
9,M4L,East Toronto,"The Beaches West , India Bazaar"

In [9]:
print(df.shape)

(103, 3)

In [10]:
url2="http://cocl.us/Geospatial_data"
geo_data=pd.read_csv(url2)
geo_data.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [11]:
print(list(df))
print(list(geo_data))

full_table = df.set_index('Postcode').join(geo_data.set_index('Postal Code'))
full_table = full_table.sample(frac=1).reset_index(drop=True)
full_table.head(20)

['Postcode', 'Borough', 'Neighbourhood\n']
['Postal Code', 'Latitude', 'Longitude']

,Borough,Neighbourhood,Latitude,Longitude
0,North York,Downsview Northwest,43.761631,-79.520999
1,Downtown Toronto,Christie,43.669542,-79.422564
2,North York,Willowdale South,43.770120,-79.408493
3,North York,"Maple Leaf Park , North Park , Upwood Park",43.713756,-79.490074
4,Downtown Toronto,"Commerce Court , Victoria Hotel",43.648198,-79.379817
5,West Toronto,"Little Portugal , Trinity",43.647927,-79.419750
6,Etobicoke,Islington Avenue,43.667856,-79.532242
7,East Toronto,"The Danforth West , Riverdale",43.679557,-79.352188
8,Downtown Toronto,Berczy Park,43.644771,-79.373306
9,Central Toronto,Lawrence Park,43.728020,-79.388790
10,Downtown Toronto,"Cabbagetown , St. James Town",43.667967,-79.367675
11,North York,"Northwood Park , York University",43.767980,-79.487262
12,North York,"Newtonbrook , Willowdale",43.789053,-79.408493
13,Scarborough,"East Birchmount Park , Ionview , Kennedy Park",43.727929,-79.262029
14,North York,Don Mills North,43.745906,-79.352188
15,Etobicoke,"Alderwood , Long Branch",43.602414,-79.543484
16,Scarborough,"Clarks Corners , Sullivan , Tam O'Shanter",43.781638,-79.304302
17,Etobicoke,Westmount,43.696319,-79.532242
18,Central Toronto,"Forest Hill North , Forest Hill West",43.696948,-79.411307
19,North York,Parkwoods,43.753259,-79.329656